body{
    background-color: #e1ebf0;
}

.page_title{
    text-align: center;
}

.info_bloc{
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    max-width: 30%;
    background-color: white;
    border: 5pt dashed  red;
}
.info_bloc p{
    text-align: center;
    max-width: 90%;
}