body{
    background-color: #e1ebf0;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}

div.about{
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    max-width: 30%;
    background-color: white;
    border: 5pt dashed  red;
}

div{
    text-align: center;
}