body{
    background-color: #e1ebf3;
}

.page_title{
    text-align: center;
}

.info_bloc {
    margin-left: auto;
    margin-right: auto;
    margin-top:15%;
    max-width: 220px;
    background-color: #FFFF
}
.info_bloc p{
    text-align: center;
}