body{
    background-color: #cfdde6;
    margin: 0;
    padding: 0;
}

h1,h3, div{
    text-align: center;
}

div.about{
    float: left;
    margin-top:5%;
    width: 25%;
    margin-left: 10%;
    background:#d1e0ea;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.last_users_list{
    float: right;
    margin-top:5%;
    width: 25%;
    margin-right: 10%;
    background: #d1e0ea;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.last_user{
    padding: 16px 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #5b9ecb1c;
}

div.last_user:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,.2);
}

footer{
    background:#bcd4e0;
    position:fixed;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:45px;
}

a p {  
    margin-left: 110px;
    margin-top: -10px;
    color:black;
    font-size: 24px;
}

img{
    margin-left: 60px;
    margin-top: -105px;
    vertical-align:middle;
}

a.source_code{
    outline: none;
    text-decoration: none;
}

a.source_code:hover{
    text-decoration: underline;
    text-decoration-color: black;
}