body{
    background-color: #e1ebf0;
    margin: 0;
    padding: 0;
}

h1,h3, div{
    text-align: center;
}

div.about{
    margin: left;
    margin-top:5%;
    max-width: 30%;
    background-color: white;
    border: 5pt dashed  red;
}

footer{
    background:#bcd4e0;
    position:fixed;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:45px;
}
a.source_code{
    outline: none;
    text-decoration: none;
}

a p {  
    margin-left: 110px;
    margin-top: -10px;
    color:black;
    font-size: 24px;
}

img{
    margin-left: 60px;
    margin-top: -105px;
    vertical-align:middle;
}

a.source_code:hover{
    text-decoration: underline;
    text-decoration-color: black;
}