<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'css\main.css' %}">
	<title>{{title}}</title>
</head>
<body>
	<pre><h1 class = "page_title">{{user_ip}}</h1></pre>
    <div class="about">

        <div class="system">
            <h3>Systeme info:</h3>
            {%for i in system_about%}
            <p>{{i}}</p>
            {%endfor%}
        </div>
        <br>
        <div class="location">
            <h3>Location:</h3>
            {%for i in location%}
            <p>{{i}}</p>
            {%endfor%}
        </div>
    </div>
<footer>

    <a href = "https://github.com/YA2JA/whoami-django" title="Source code">
        <img src="https://cdn3.iconfinder.com/data/icons/social-badges-2/512/github.png" class="Source_Code" width="40" height="40">
    </a>
</footer>
</body>
</html>